@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Set box sizing for everything */
  * {
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Apply custom styles to html, body, and the root element */
  html, body, #root {
    @apply min-h-screen m-0 p-0 bg-neutral-50 text-neutral-800;
    line-height: 1.5;
    font-weight: 400;
    scroll-behavior: smooth;
    /* Hide scrollbar (Firefox and IE) */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .reverse-cyan {
  background: linear-gradient(90deg,#06b6d4,#34d399);
}

  /* Hide scrollbar for WebKit */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /* Ensure images and buttons behave as expected */
  img {
    @apply max-w-full h-auto;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .shadow-top {
    box-shadow: 
       0 -10px 15px -3px rgba(0, 0, 0, 0.1),
       0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .shadow-all {
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.3);
  }
  .shadow-top-neutral {
    box-shadow: 
      0 -10px 15px -3px rgba(64, 64, 64, 0.3), /* neutral-700/30 */
      0 -4px 6px -2px rgba(64, 64, 64, 0.3);
  }
  .teal-blue {
    background: linear-gradient(90deg,#06b6d4,#3b82f6);
  }
  .green-cyan {
    background: linear-gradient(90deg,#34d399,#06b6d4);
  }
  .sunset {
    background: linear-gradient(90deg,#f97316,#ef4444,#a78bfa);
  }
  .ocean {
    background: linear-gradient(90deg,#06b6d4,#0ea5a4,#3b82f6);
  }
  .rose-gold {
    background: linear-gradient(90deg,#fb7185,#f59e0b,#ef4444);
  }

}

@layer components {
 
}